
{% extends "header.html" %}
{% block content %}
{% load static %}
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					ALWA Walking
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-6 w3_modal_body_left">
							<img src="{%  static 'images/1.jpg' %}" alt=" " class="img-responsive" />
							
						</div>
						<div class="col-md-6 w3_modal_body_right">
							<h4>Suspendisse et sapien ac diam suscipit posuere</h4>
							<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i>
								Fusce in ex eget ligula tempor placerat. Aliquam laoreet mi id felis commodo 
								interdum. Integer sollicitudin risus sed risus rutrum 
								elementum ac ac purus.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">	
			<div class="agileits_banner_bottom">
				<h3><span>Walking is an event</span> where everyone is equal and ordinary at the starting line 
					but a <i>Legend</i> is born at the finish line</h3>
				<p>Sed sed turpis finibus, lobortis leo sit amet, convallis turpis. Ut suscipit tortor arcu, 
					eget condimentum ipsum imperdiet eget. In sit amet pharetra augue. Duis pellentesque accumsan 
					nisl. Nam eget placerat nibh. Vestibulum non magna eu dui ullamcorper semper. Lorem 
					ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="w3ls_banner_bottom_grids">
				<ul class="cbp-ig-grid">
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_road"></span>
							<h4 class="cbp-ig-title">Healthly</h4>
							<span class="cbp-ig-category">Walking</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_cube"></span>
							<h4 class="cbp-ig-title">muscular strength</h4>
							<span class="cbp-ig-category">Walking</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_users"></span>
							<h4 class="cbp-ig-title">Free Diabatic</h4>
							<span class="cbp-ig-category">Walking</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_ticket"></span>
							<h4 class="cbp-ig-title">Controlled BP </h4>
							<span class="cbp-ig-category">Walking</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- features -->
	<div class="features">
		<div class="container">
			<h3 class="w3_agile_header">Health benefits of <span> walking</span></h3>
			<p class="agile_para">Walking for 30 minutes a day you can achive following helthly benfits </p>
			<div class="agileits_w3layouts_features_grids">
				<div class="col-md-4 agileits_w3layouts_features_gridl">
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Heart and Lungs</h4>
							<p>increased cardiovascular and pulmonary (heart and lung) fitness</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Heart disease</h4>
							<p>reduced risk of heart disease and stroke</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-map-pin" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Controlled blood pressure</h4>
							<p>improved management of hypertension (high blood pressure),</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-lemon-o" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 agileits_w3layouts_features_gridl">
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Controlled diabetes</h4>
							<p>improved management of  muscular strength or stiffness, and diabetes</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-leaf" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>stronger bones</h4>
							<p>stronger bones and improved balance</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-heartbeat" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>increased muscle strength </h4>
							<p>increased muscle strength and endurance</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-hourglass-3" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 agileits_w3layouts_features_gridr">
					<img src="{%  static 'images/1.png' %}" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	{% endblock %}
	