{% extends "global.html" %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html>
<body>
    <!--/#home-->
    <section id="services">
        <div class="container">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-12">
                        <h2>About Us</h2>
			</div></div>
                       	<br>  THE IDEA, THE FORMATION AND THE FIRST GET TOGETHER
`DAVANAGERE OLD STUDENTS' ASSOCIATION. Yes, what you have read is correct. Unlike the usual gathering of a particular school, college or university's alumni, this is the get together of alumni from all college students  who studied in BAPUJI INSTITUTIONS in the wonderful town of Davangere in Karnataka State.<br>
This idea is the brainchild of its founder Mr. Suresh Kumar Chennupati of the 1983 batch of the Bapuji Institute of Engineering and Technology which was started in 1979 with 175 students in the first batch.<br>
It all started one day in November, 2010, when Narra Srinivas of the 1987 batch of the same college was in morning walk with Suresh Kumar and asked him why he was so busy. Suresh replied that he was preparing for their school alumni meet. Narra Srinivas in turn asked him why he shouldn't do the same for their College. Suresh Kumar promised that he would take up the challenge soon after his school alumni meet on 27th. December, 2010.<br>
And true to his word, immediately after his school meet, Suresh Kumar started interacting with friends. The idea evoked immense interest among his friends from various professional colleges, as he is associated not only with the Engineering students from 1979 batch to 1990 batches but also with doctors, dentists and polytechnic students in Davangere. On seeing this, he realized that something different had to be done here and viola, we have DOSA! This name was suggested by V.Balaji Babu (1984 batch)<br>
With just a handful of people like K. Janardhan Reddy (1979 batch), D. Harikumar (1980 batch), V. Balaji Babu (1984 batch), P.Jagan(1984 batch) Tanga Vasudeva Rao (1985 batch), J. Poornachandra Rao (1985 batch), Mulpuri Prasad (1986 batch), Sunkara Srinivas (1986 batch), V. Chandrasekhar (1988 batch), K. Subramaniam (1987 batch)V.Rahul (1989 batch) R.Madhu Mohan (1989 batch) diploma and others to support him, he started compiling a list of names and phone numbers which reached four hundred.<br>
He designed a beautiful logo with the Engineers' wheel diploma bearing ,dentist teeth  and the Doctors' stethoscope.<br>
He fixed the magic date as 28th. February, 2011, the venue as Bhavani Island, Vijayawada and chalked out an exciting program.<br>
Taking into consideration the time of inception of the idea and its execution which was two months, the outcome can only be described as a grand success as 181 people appeared on the scene from all over Andhra Pradesh. It was the most memorable day for all the people who attended it.Doctors , Diploma students and dentists also  attented
Two members were nominated from each batch to help the founder for future DOSA meets.<br>
The idea is to have regular meets of the old students not only to recollect the old memories of the golden years of College but also to get involved in social activities so as to give a better world for our future generations.<br>
We also want this to be a platform for anyone who studied in any college in Davangere, to launch any good idea or activity.<br>
79. Batch Co-ordinators - (1) Janardhan Reddy (2)D.V.Ramana <br>
80. Batch Co-ordinators - (1) Hari Kumar<br>
81. Batch Co-ordinators- (1) Bandavupalli Srinivas<br>
82. Batch Co-ordinators- (1) Venkateswara Rao (2) Pratap Naidu <br>
83. Batch Co-ordinators - (1)Madhusudhan Reddy <br>
84. Batch Co-ordinators- (1)V.Balaji Babu <br>
85. Batch Co-ordinators- (1)Joshi Chandrasekhar <br>
86. Batch Co-ordinators- (1)Ramji Nekkanti<br>
87. Batch Co-ordinators- (1)Rudraya Chowdary   (2)Ravella Sateesh<br>
88. Batch Co-ordinators- (1)Vishnuvardhan Reddy    (2)V.Chandrasekhar<br>
89. Batch Co-ordinators- (1)Vasireddy Rahul<br>
90. Batch Co-ordinators- (1)Yugandhar Prasad Nadella <br>
91. Batch Co-ordinators- (1)Raavi Madhu Mohan <br>
93. Batch Co-ordinators- (1)Sudhakar Cherukuri<br>
94. Batch Co-ordinators- (1)Narayana Rao.T (2)Rupendra <br>
95. Batch Co-ordinators- (1)Koti Vasu<br>
</div>
</section>
    <!--/#about us-->
{% endblock %}
</body>
</html>
