{% extends "global.html" %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html>
<body>
    <!--/#home-->
    <section id="accounts">
        <div class="container">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                <img src="/static/files/2.jpg" alt="1"><br>
                <img src="/static/files/3.jpg" alt="2"><br>
                <img src="/static/files/4.jpg" alt="3"><br>
                </div>
            </div>
        </div>
    </section>
    <!--/#accounts-->
{% endblock %}
</body>
</html>