{% extends "global.html" %}
{% load static %}
{% block main %}
<!DOCTYPE html>
  <section id="services" style="padding:75px 0px;">
    <div class="container">
      <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-12 summary-grid">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
			    {% if request.session.pwd  %}
		    	    <th>Address</th>
                            <th>Mobile</th>
			     {% endif %}
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                    {% for key,users in result.iteritems %}
                    	<tr><td colspan="5">{{key}}</td></tr>
	                    {% for user in users %}
				{% if not request.session.pwd and user.approved|add:"0" == 1 %}
	                        <tr>
	                            <td style="text-align:center;"><img {% if user.profile_pic %} src="{{user.profile_pic}}" {% else %} src="{% static "images/team/2.jpg" %}" {% endif %} class="uploadimg"></td>
	                            <td>{{user.user_name}}</td>
				     
	                            <!--<td>{{user.address}}</td>
	                            <td>{{user.phone_number}}</td>-->
	                            <td><button class="btn btn-start" style="margin-right:15px;margin-bottom:5px;" data-id="{{user.id}}" id="viewUser"  {% if request.session.pwd %}{% else %}  data-toggle="modal" data-target="#phone" {% endif %}>View Details</button>{% if request.session.pwd and user.approved|add:"0" == 0 %}<button class="btn btn-primary" id="approveUser" data-user="{{user}}" data-id="{{user.id}}">Approve</button>{% endif %}</td>
	                        </tr>
				{% elif request.session.pwd  %}
					<tr>
	                            <td style="text-align:center;"><img {% if user.profile_pic %} src="{{user.profile_pic}}" {% else %} src="{% static "images/team/2.jpg" %}" {% endif %} class="uploadimg"></td>
	                            <td>{{user.user_name}}</td>
	                            <td>{{user.address}}</td>
	                            <td>{{user.phone_number}}</td>
	                            <td><button class="btn btn-start" style="margin-right:15px;margin-bottom:5px;" data-id="{{user.id}}" id="viewUser"  {% if request.session.pwd %}{% else %}  data-toggle="modal" data-target="#phone" {% endif %}>View Details</button>{% if user.approved|add:"0" == 0 %}<button class="btn btn-primary" id="approveUser" data-user="{{user}}" data-id="{{user.id}}">Approve</button>{% endif %}</td>
	                        </tr>
				{% endif %}
	                     {% endfor %}
                     {% endfor %}
                    </tbody>
                </table>
          </div>
        </div> 
      </div>
    </div>
  </section><!--/#Grid-->
  	<script type="text/javascript">
	var flag=0;
	</script>
 {% endblock %}
</body>
</html>
